html {
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 65%;
}

body {
    font-family: Georgia, serif;
    padding: 15px;
}

h1, h2, h3 {
    color: #527bbd;
    font-weight: 500;
}

a {
    color: #224b8d;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: skyblue;
    text-decoration: underline;
}

img {
    width: 20%; 
    height: 20%; 
}

#navDiv, #mediaDiv {
    display: flex;
    justify-content: center;
}

.navA {
    margin-left: 5px;
    margin-right: 5px;
}

.icons {
    length: 20px;
    width: 20px;
}

#professional_photo {
    border-radius: 35%;
    height: 200px;
    width: 200px;
}

#headerInfo {
    display: flex;
    justify-content: space-around;
}

.picDiv {
    align-items: center;
    justify-content: center;
    margin: 0;
}

/**/