/* HEADER */

#headerSec {
    background-color: #29293d; 
    color: white;
}

#headerDiv {
    display: flex;
    justify-content: left;
    margin: auto;
    padding: 2em;
    width: 85%;
}

#professionalPhoto {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* NAV BAR */

nav {
    padding: 1em;
    text-align: center;
}

.navA {
    color: white
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
}

.navDiv {
    padding-right: 2em;
}

#navSec {
    background-color: #666699; 
}

/* CONTENT */

#bioSec, #projectSec, #researchSec {
    margin: auto;
    width: 75%;
}

/* FOOTER  */

#footerSec {
    background-color: #29293d; /* 666699 */
    color: white;
    font-size: 15px;
}

#footerDiv {
    margin: auto;
    width: 65%;
}

#footerRow1 {
    column-gap: 2em;
    display: flex;
    justify-content: flex-end;
}

.footerA {
    text-decoration: none;
}

.footerA:visited {
    color: #004d99;
}

.footerA:hover, .navA:hover {
    color: white;
    text-decoration: underline;
}

.footerHR {
    color: white;
    width: 50px;
}

.footerRow1Div {
    padding: 2em;
    width: 25%;
}

.footerStrong {
    font-size: 18.5px;
}

#updatedSec {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: .5em;
    text-align: center;
}

/* HTML TAGS */

html {
    background-color: black;
}

.headerA {
    text-decoration: none;
}

.headerA:hover {
    color: white;
    text-decoration: underline;
}

/* IMAGES */

.imgPresentation {
    height: 400px;
    width: 500px;
}

.imgPresentationDiv {
    padding: 2em;
}

.picDiv {
    display: flex;
    justify-content: center;
    text-align: center;
}